#pogrubienie_Okoński {
    font-weight: bold;
    font-size: 32px;
    color: navy;
}

#pochylona_Okoński {
    font-style: italic;
    font-size: 37pt;
    color: green;
}

#index_gorny_Okoński {
    vertical-align: super;
    font-size: 1.5cm;
    color: blue;
}

#index_dolny_Okoński {
    vertical-align: sub;
    font-size: 2.3cm;
    color: rgb(78%, 45%, 90%);
}

#mono_Okoński {
    font-family: monospace;
    font-size: 42px;
    color: red;
}

#powiekszenie_Okoński {
    font-size: larger;
    color: yellow;
}

#pomniejszenie_Okoński {
    font-size: smaller;
    color: rgb(69%, 67%, 24%);
}
