 body {
            background-color: #f7d3de;
            margin: 30px;
            font-family: Georgia, serif;
        }

        .blok {
            background-color: #5f78f0;
            border: 2px solid #003366;
            padding: 15px;
            margin-bottom: 12px;
        }

        h1, h2, h3 {
            text-align: center;
            margin: 0 auto;
            padding: 10px;
        }

        h1 {
            background-color: yellow;
            color: black;
            width: 90%;
            border: 2px solid #333;
            font-size: 24px;
            font-weight: bold;
        }

        
        h2 {
            background-color: #c97b7b;
            color: black;
            width: 85%;
            font-size: 20px;

            border-top: 6px dotted red;
            border-right: 6px dashed green;
            border-bottom: 6px double blue;
            border-left: 6px solid black;
        }

       
        h3 {
            background-color: #7ea2e8;
            color: #111;
            width: 80%;
            font-size: 18px;

            border-top: 5px groove purple;
            border-right: 5px ridge orange;
            border-bottom: 5px inset brown;
            border-left: 5px solid black;
        }
